{% extends 'base.html' %}

{% block title %}Forecast Page{% endblock %}

{% block body %}
    <div class="content">
        <h1>Forecast Setup</h1>
        <form action="/forecast" method="POST">
            <div>
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" required>
            </div>
            {% if error %}
                <div style="color:red;">{{ error }}</div>
            {% endif %}
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>

        {% if date_time %}
            <h3>You selected start date: {{ date_time }}</h3>
        {% endif %}

        <form action="/home" method="GET">
            <input type="submit" value="Go Back to Home">
        </form>
    </div>
{% endblock %}
